numpy==1.26.4        # NumPy для работы с массивами и математическими операциями
pandas==2.2.2         # Pandas для обработки и анализа данных
scikit-learn==1.5.1   # Scikit-learn для машинного обучения и предобработки данных
matplotlib==3.10.0    # Matplotlib для визуализации данных
jupyter==4.2.6       # Jupyter для работы с Jupyter Notebook
tensorflow==2.18.0    # TensorFlow для глубоких нейронных сетей
torch==2.3.0+cu118    # PyTorch для работы с нейронными сетями
tkan==0.4.3          # Tkan для работы с данными
tqdm==4.66.4          # Tqdm для отображения прогресса
seaborn==0.13.2       # Seaborn для улучшенной визуализации данных
kan==0.0.2           # модлель для работы с данными
keras==3.8.0         # Keras для работы с нейронными сетями
typing==3.7.4.3      # typing для работы с типами данных
