numpy==1.26.4       
pandas==2.2.2         
scikit-learn==1.5.1   
matplotlib==3.10.0   
jupyter==4.2.6       
tensorflow==2.18.0    
torch==2.3.0+cu118    
#tkan==0.4.3         
tqdm==4.66.4          
seaborn==0.13.2    
kan==0.0.2          
#keras==3.8.0        
typing==3.7.4.3      
